<div style="margin-bottom:50px">
    <mat-toolbar class="patient-detail-toolbar" color="primary">
                <button mat-button><mat-icon>menu</mat-icon></button>
                <span class="patient-detail-fill-remaining"></span>
                <button mat-button (click)="logout()">logout</button>
    </mat-toolbar>
    <div class="patient-detail-primary-header">
        <h1>Member Detail</h1>
    </div>
</div>
<div>
        <mat-card class="patient-card">
                <img mat-card-image id= "image_circle" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                 <mat-card-content>
                  <p id="patient_name">
                    Mr. Amit
                  </p>
                  <div id="today_health">
                    <span id = "today_health">Today  69 resting bpm</span>
                  </div>
                 </mat-card-content>
              </mat-card>
              <mat-card class="patient-card">

                     <mat-card-content>
                            <div>
                                <p class="patient-detail-text"><span>Name:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">Mr. Ashutosh Jha</span></p>
                                <div style="height: 1px; background: #F87431; overflow: hidden;"></div>
                                <p class="patient-detail-text"><span>Age:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">32 yrs</span></p>
                                <div style="height: 1px; background: #F87431; overflow: hidden;"></div>
                                <p class="patient-detail-text"><span>Gender:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">Male</span></p>
                                <div style="height: 1px; background: #F87431; overflow: hidden;"></div>
                                <p class="patient-detail-text"><span>Weight:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">80kg</span></p>
                                <div style="height: 1px; background: #F87431; overflow: hidden;"></div>
                                <p class="patient-detail-text"><span>Height:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">5' 11"</span></p>
                                <div style="height: 1px; background: #F87431; overflow: hidden;"></div>
                                <p class="patient-detail-text"><span>Disease:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">skfkasjdf</span></p>
                                <div style="height: 1px; background: #F87431; overflow: hidden;"></div>

                            </div>
                     </mat-card-content>
                  </mat-card>
    <!-- <mat-card class="parent">
        <div class="child">
            <div>
                <img id= "image_circle" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <div>
                    <p id="patient_name">
                        Mr. Ashu
                    </p>
                    <div id="today_health">
                        <span id = "today_health">Today  69 resting bpm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="child">
            <div>
                    <section><p class="patient-detail-text"><span>Name</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">Mr. Ashutosh Jha</span></p></section>
                    <div style="width: 80%; height: 1px; background: #F87431; overflow: hidden;"></div>
                    <section><p class="patient-detail-text"><span>Age</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">32 yrs</span></p></section> -->
                    <!-- <div style="width: 80%; height: 1px; background: #F87431; overflow: hidden;"></div> -->
                    <!-- <p class="patient-detail-text"><span>Gender</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">Male</span></p> -->
                    <!-- <div style="width: 80%; height: 1px; background: #F87431; overflow: hidden;"></div> -->
                    <!-- <p class="patient-detail-text"><span>Weight</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">80kg</span></p> -->
                    <!-- <div style="width: 80%; height: 1px; background: #F87431; overflow: hidden;"></div> -->
                    <!-- <p class="patient-detail-text"><span>Height</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">5' 11"</span></p> -->
                    <!-- <div style="width: 80%; height: 1px; background: #F87431; overflow: hidden;"></div> -->
                    <!-- <p class="patient-detail-text"><span>Critical Desease</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="">skfkasjdf</span></p> -->
                    <!-- <div style="width: 80%; height: 1px; background: #F87431; overflow: hidden;"></div> -->
            <!-- </div>
        </div>
    </mat-card> -->
<mat-card class="patient-card-notes">
        <mat-card-content>
        <mat-tab-group style="">

            <mat-tab label="Document center">
                    <mat-table #table [dataSource]="dataSource">

                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                  <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.fileName}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef> Update Date </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.createDate}} </mat-cell>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                  <mat-header-cell *matHeaderCellDef> Last Updated </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.updateDate}} </mat-cell>
                                </ng-container>

                                <!-- Color Column -->
                                <ng-container matColumnDef="symbol">
                                  <mat-header-cell *matHeaderCellDef> Validated </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.verified}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </mat-table>
            </mat-tab>
            <mat-tab label="Notes">

            </mat-tab>
        </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
