.home-toolbar{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    height: 50px;
    position: fixed;
    z-index: 2;
    top: 0px;
}
.home-toolbar-title{
    font-size:16px;
}
.home-fill-remaining{
    flex: 1 1 auto;
}
.mat-button{
    width: 10px;
}
.docs-primary-header {
    background: #673ab7;
    position: relative;
    top: 30px;
}
.patients-grid-container {
    position: relative;
    top: 30px;
}
/* .component-page-header[_ngcontent-c12] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

.docs-primary-header h1 {
    color: rgba(255, 255, 255, 0.87);
}

.docs-primary-header h1 {
    font-weight: 300;
    margin-left: 42px;
    padding: 28px 8px;
    font-size: 20px;
}

.patient-card {
    max-width: 100% !important;
    width: 175px;
    height:200px;   
    margin-left: 0px;
    margin-right: 0px;
}

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #image_circle {
      margin-top: 10px;
      width: 100px;
      height: 100px;
      border-radius: 80%;
}

#patient_name{
    font-size: 15px;
    font-family: sans-serif;
}
#today_health{
    margin-left: 0px;
}

#today_health span{
    font-size: 10px;
    font-family: sans-serif;
    margin-left: 0px;
    margin-block-start: 0px;
    padding-left: 0px;
}